
APIServer/obj/APIServer.csproj.nuget.cache
APIServer/obj/APIServer.csproj.nuget.g.props
APIServer/obj/APIServer.csproj.nuget.g.targets
APIServer/obj/Debug/netcoreapp2.1/APIServer.AssemblyInfo.cs
APIServer/obj/Debug/netcoreapp2.1/APIServer.AssemblyInfoInputs.cache
APIServer/obj/Debug/netcoreapp2.1/APIServer.assets.cache
APIServer/obj/Debug/netcoreapp2.1/APIServer.csproj.CoreCompileInputs.cache
APIServer/obj/Debug/netcoreapp2.1/APIServer.csproj.FileListAbsolute.txt
APIServer/obj/Debug/netcoreapp2.1/APIServer.csprojAssemblyReference.cache
APIServer/obj/Debug/netcoreapp2.1/APIServer.dll
APIServer/obj/Debug/netcoreapp2.1/APIServer.pdb
APIServer/obj/Debug/netcoreapp2.1/APIServer.RazorAssemblyInfo.cache
APIServer/obj/Debug/netcoreapp2.1/APIServer.RazorAssemblyInfo.cs
APIServer/obj/Debug/netcoreapp2.1/APIServer.RazorTargetAssemblyInfo.cache
APIServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
APIServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
APIServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebServer/bin/Debug/netcoreapp2.1/WebServer.deps.json
WebServer/bin/Debug/netcoreapp2.1/WebServer.dll
WebServer/bin/Debug/netcoreapp2.1/WebServer.pdb
WebServer/bin/Debug/netcoreapp2.1/WebServer.runtimeconfig.dev.json
WebServer/bin/Debug/netcoreapp2.1/WebServer.runtimeconfig.json
WebServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebServer/obj/Debug/netcoreapp2.1/WebServer.AssemblyInfo.cs
WebServer/obj/Debug/netcoreapp2.1/WebServer.AssemblyInfoInputs.cache
WebServer/obj/Debug/netcoreapp2.1/WebServer.assets.cache
WebServer/obj/Debug/netcoreapp2.1/WebServer.csproj.CoreCompileInputs.cache
WebServer/obj/Debug/netcoreapp2.1/WebServer.csproj.FileListAbsolute.txt
WebServer/obj/Debug/netcoreapp2.1/WebServer.dll
WebServer/obj/Debug/netcoreapp2.1/WebServer.pdb
WebServer/obj/Debug/netcoreapp2.1/WebServer.RazorAssemblyInfo.cache
WebServer/obj/Debug/netcoreapp2.1/WebServer.RazorAssemblyInfo.cs
WebServer/obj/Debug/netcoreapp2.1/WebServer.RazorTargetAssemblyInfo.cache
WebServer/obj/project.assets.json
WebServer/obj/WebServer.csproj.nuget.cache
WebServer/obj/WebServer.csproj.nuget.g.props
WebServer/obj/WebServer.csproj.nuget.g.targets
.vs/WebServer/v15/Server/sqlite3/storage.ide
.vs/WebServer/v15/Server/sqlite3/db.lock
.vs/WebServer/v15/.suo
.vs/WebServer/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
.vs/APIServer/v15/Server/sqlite3/storage.ide-wal
.vs/APIServer/v15/Server/sqlite3/storage.ide-shm
.vs/APIServer/v15/Server/sqlite3/storage.ide
.vs/APIServer/v15/.suo
.vs/APIServer/DesignTimeBuild/.dtbcache
APIServer/bin/Debug/netcoreapp2.1/APIServer.deps.json
APIServer/bin/Debug/netcoreapp2.1/APIServer.dll
APIServer/bin/Debug/netcoreapp2.1/APIServer.pdb
APIServer/bin/Debug/netcoreapp2.1/APIServer.runtimeconfig.dev.json
APIServer/bin/Debug/netcoreapp2.1/APIServer.runtimeconfig.json
.vs/APIServer/DesignTimeBuild/.dtbcache
.vs/APIServer/v15/.suo
.vs/APIServer/v15/Server/sqlite3/storage.ide
.vs/APIServer/v15/Server/sqlite3/storage.ide-shm
.vs/APIServer/v15/Server/sqlite3/storage.ide-wal
.vs/APIServer/DesignTimeBuild/.dtbcache
.vs/APIServer/v15/.suo
.vs/APIServer/v15/Server/sqlite3/storage.ide
.vs/APIServer/v15/Server/sqlite3/storage.ide-shm
.vs/APIServer/v15/Server/sqlite3/storage.ide-wal
